
.catalog-container {
    padding: 20px;
    margin-top: 20px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  .product-card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  
  .low-stock {
    border: 2px solid #ff1e00;
    background-color: #ffffff;
  }
  
  .low-stock-text {
    color: #df1a0c;
    font-weight: bold;
  }
  
  button {
    background-color: #2b83ef;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .loading {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    color: #666;
  }
 .catalog-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  gap: 10px;
  margin-bottom: 15px;
   margin-top: 100px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 8px;
  background-color: #f9f9f9;
}

.search-container mat-icon {
  color: gray;
  margin-right: 6px;
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 1;
}

.catalog-header button {
  padding: 6px 12px;
  background-color: #76c9dd;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.catalog-header button.active {
  background-color: #1976d2;
  color: white;
  border-color: #1976d2;
}

.catalog-header button:hover {
  background-color: #2196f3;
  color: white;
}

